/* Styles for 'container' layout.
   hat tip: http://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/ */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clear default padding/margin */
html,
body {
	padding: 0px;
	margin: 0px;
}

.top-container,
.upper-container,
.main-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.top-container {
	position: relative;
	overflow: hidden;
	height: 150px;
	padding: 0px;
	z-index: 4;
}

.upper-container {
	position: relative;
	overflow: visible;
	height: 40px;
	padding: 0px;
	z-index: 5;
}

.main-container {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	margin-top: -190px;
	padding-top: 190px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: overflow;
	overflow: hidden;
	z-index: 3;
}

.lower-container {
	overflow: auto;
	padding: .5rem;
	height: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	z-index: 5;
}

/* Remove the scrollbar on WebKit browsers */
.lower-container::-webkit-scrollbar {
	display: none;
}

.left { 
	min-width: 425px;
	z-index: 11;
}

.right {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	z-index: 10;
}
