/* Background base colour */

body,
.top-container,
.main-container,
.upper-container,
.lower-container {
	background-color: #e5e5ff;
}

/* Editing panel styles */
.panel {
	background: #fff;
	border-color: #aaa;
}

/* Editing column [grid] padding */
.columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Editing button styles */
.button {
  border-style: solid;
  border-width: 1px;
  border-color: #007095;
  font-size: 1rem;
  padding: 0.71rem 1rem;
}

/* Editing tab styles */
.tabs dd > a,
.tabs .tab-title > a {    	
  color: #fff;
  background-color: #008CBA;
  border-style: solid;
  border-width: 1px;
  border-color: #007095;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.tabs dd > a:hover,
.tabs dd.active a,
.tabs .tab-title > a:hover,
.tabs .tab-title.active a {
  color: #fff;
  background-color: #007095;
}
