/* Background base colour */
.top-container,
.main-container,
.upper-container,
.lower-container {
	background-color: #eee;
}

/* Editing panel styles */
.panel {
	background: #fff;
	border-color: #bbb;
}

/* Editing button styles */
.button {
  padding: 1rem 1.5rem;
}

/* Editing tab styles */
.tabs dd > a,
.tabs .tab-title > a {    	
  background-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}
.tabs dd > a:hover,
.tabs dd.active a,
.tabs .tab-title > a:hover,
.tabs .tab-title.active a {
  background-color: #fff;
}
